
<header>
    <div class="outer-header">
        <div id="is-header">
            <div>
                <img id="logo" src="~/images/logo2.jpg" />
                <span id="is-name">InsuranSecure</span>
            </div>
            <span class="description"> Your one step solution to all your policy needs....</span>
        </div>
    </div>

    <div id="is-insurance-types">
        <ul>
            <li class="selected">Life</li>
            <li>Car</li>
            <li>Home</li>
            <li>Health</li>
            <li>Bike</li>
            <li>Travel</li>
        </ul>
    </div>
    
    @*<ul class="nav navbar-nav">
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
    @Html.Partial("_LoginPartial")*@
</header>