
<header id="is-header">
    <div>
        <img id="logo" src="~/images/logo2.jpg" />
        <span id="is-name">InsuranSecure</span>
    </div>
    <span class="description"> Your one step solution to all your policy needs....</span>
    @*<ul class="nav navbar-nav">
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
    @Html.Partial("_LoginPartial")*@
</header>