@model Tuple<string,string,string>
<table class="email-templates">
    <tr>
        <th>Agent Name</th>
        <th>Appointment Date</th>
        <th>Appointment Time</th>
    </tr>
    <tr>
        <td>@Model.Item1</td>
        <td>@Model.Item2</td>
        <td>@Model.Item3</td>
    </tr>
</table>
