header {
    margin: 0 10px 0 10px;
    width: inherit;
    display: block;
    height: 14rem;
    background-color: white;
    color: #929497;
    z-index: 88;
    
}

header .outer-header {
    border-bottom: 1px solid lightgrey;
}

#is-header{
    margin: auto;
    width: 40rem;
    padding: 1rem;
}

#is-header .description{
    color:red;
    font-style: italic;
    font-weight: bold;
    padding-left: 3.5rem;
    padding-top: -1rem;
}

#is-useroptions{
    float:right;
    top: -4rem;
    position: relative;
    padding-right: 2rem;
}

#is-name {
    font-size: 4rem;
}

#logo{
    width: 50px;
    display:inline
}

#is-insurance-types ul {
    padding-top : 1rem;
    width: 50rem;
    margin-left:auto;
    margin-right:auto;
}

#is-insurance-types ul a{
    text-decoration : none;
    color: #929497;
    margin-bottom: 0.5rem;
}

#is-insurance-types li{
    display: inline;
    margin-right : 3rem;
}

#is-insurance-types li.selected {
    border-bottom: 3px solid #f65e00;
    padding-bottom: 0.5rem;
}

.invisible {
    display: none;
}

/*header select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}*/