body {
    padding-bottom: 20px;
    background-color : lightgray;
    font-family : 'Times New Roman'
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*body {
    margin:auto;
    background-color: lightgray
}*/

section:not(.grid) {
    padding: 1.5rem 2rem;
}
section {
    margin: 0 0 1rem;
    background: #fff;
    position: relative;
}

main{
    margin: auto;
    max-width: 1500px;
    display: block;
    padding: 0 4rem;
    background-color: white;
    height:100%;
}

.btn{
    background-color: #f65e00;
    color:white;
    width: 100px;
    height: 25px;

}

#is-insurance{
    padding: 2rem 2rem;
}

#is-insurance-benifits{
    width: 70%;
    height: 100px;
    float: left;
}

#is-user-details{
    width: 30%;
    float:right;
}

#is-submit-button,
#is-user-details .input{  
    margin: 1rem 2.5rem;
}

.btn{    
    line-height: 8px;
    margin-right: 2rem;
}
