body {
    padding-bottom: 20px;
    background-color : lightgray;
    font-family : 'Times New Roman'
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*body {
    margin:auto;
    background-color: lightgray
}*/

section:not(.grid) {
    padding: 1.5rem 2rem;
}
section {
    margin: 0 0 1rem;
    background: #fff;
    position: relative;
}

main{
    margin: auto;
    max-width: 1500px;
    display: block;
    padding: 0 4rem;
    background-color: white;
    height:100%;
}

.btn{
    background-color: #f65e00;
    color:white;
    width: 100px;
    height: 25px;

}

#loading{
    float: right;
    display:none;
}

#loading.visible {
    display:block;
}

#loading .content {
    width: 60px;
    height: 60px;
    background-color: #fff;
    padding: 0.5rem 0.5rem;
    color: #808184;
}

#is-insurance{
    padding: 2rem 2rem;
}

#is-insurance-benifits{
    width: 70%;
    height: 100px;
    float: left;
}

#is-user-details{
    width: 30%;
    float:right;
}

#is-submit-button,
#is-user-details .input{  
    margin: 1rem 2.5rem;
}

.btn{    
    line-height: 8px;
    margin-right: 2rem;
}

ul {
    list-style-type: none;
}

#open-appointment{
    display:none
}

#appointment-confirmation label{
    padding-bottom: 10rem;
}

#appointment-confirmation a{
    display: block;
}

#appointment-confirmation > div{
    padding-left: 5rem;
    font-size: 1.4rem;
    padding-bottom: 5rem;
}

#appointment-confirmation span{
    color: red;
    font-weight:bold;
}

#agents-view {
    float: left
}

#agents-view a{
    overflow: auto;
}

#agents-view-div > * {
    width: 50%;
}

a{
    text-decoration: none;
}

#googleMap {
    padding: 4rem 4rem;
}

table {
    width: 100%;
}
table td {
    padding: 2rem 0;
    text-align:center; 
    vertical-align:middle;
}
table th {
    background-color: #929497;
    padding: 1rem 1rem;
    text-align:center; 
    vertical-align:middle;
}
  table td:not(.proceed){
    border: 1px solid black;
  }

  table tr img{
      max-width: 200px;
  }

  table tr a.proceed {
      background-color: #f65e00;
      padding: 0.5rem 2rem;
      width: 200px;
      min-width: 20rem;
      text-decoration: none;
      width: 150px;
      color: white
  }
  header select{
      border: none
  }